@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Voltaire&display=swap');

* {
    margin: 8px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Economica';
}

body {
    background-color: rgb(159, 214, 159);
}

.start-quiz,
.try-again {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.try-again {
    display: none;
}

.start-quiz button {
    font-size: 30px;
    font-weight: 500;
    color:rgb(26, 118, 26);
    padding: 25px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.try-again button {
    font-size: 30px;
    font-weight: 500;
    color:rgb(26, 118, 26);
    padding: 70px 90px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.start-quiz button:hover {
    background-color: rgb(16, 67, 16);
    color: rgb(159, 214, 159);
    transition: 150ms;
}

.try-again button:hover {
    background-color: rgb(16, 67, 16);
    color: rgb(159, 214, 159);
    transition: 150ms;
}

.cont-btn, .quit {
    color:rgb(26, 118, 26);
    border: none;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 30px;
    background-color: rgb(159, 214, 159);
    user-select: none;
}

.cont-btn:hover {
    color:rgb(159, 214, 159);
    background-color: rgb(26, 118, 26);
    transition: 150ms;
}

.quit:hover {
    color:rgb(159, 214, 159);
    background-color: rgb(26, 118, 26);
    transition: 150ms;
}

.info {
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.questions,
.quiz-end,
.enter-score {
    height: 100vh;
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
}

.info-box,
.questions-box, 
.end-box,
.score-box {
    text-align: center;
    width: 900px;
    background-color: rgb(226, 226, 226);
    border-radius: 8px;
}

.title,
.info-ol {
    padding: 40px;
    color:rgb(16, 67, 16);
}

 .title {
     font-size: 50px;
}

 .info-ol {
     font-size: 27px;
     text-align: left;
}

.que {
    padding: 40px;
    color:rgb(16, 67, 16);
    font-size: 30px;
}

.questions-ul {
    padding: 30px;
    color:rgb(16, 67, 16);
    list-style: none;
    display: flex;
    flex-direction: column;
}

.questions-ul button {
    background-color: lightgrey;
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

.questions-ul button:hover {
    background-color: gray;
}

.timer {
    position: absolute;
    display: flex;
    font-size: 18px;
    background-color: rgb(226, 226, 226);
    border-radius: 8px;
}

.score {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

/* .questions-ul .wrong:active {
    background-color: rgb(255, 172, 172);
    color: rgb(233, 0, 0);
}
.questions-ul .correct:active {
    background-color: rgb(16, 67, 16);
    color:rgb(159, 214, 159);
}
